{% extends "mainApp/main.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="card card-body">
    <form action="" method="POST">
        <p class="h2">{{ title }} {{ product.name }}</p>
        <hr class="">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <div class="">{{ field.label }}</div>
            <div class="">
                {% render_field field class="form-control" %} <!-- Add class here -->
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
{% endblock %}