{% extends 'mainApp/main.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <a href="{% url 'product_form' %}"><button type="button" class="btn btn-success btn-block">Add Products</button></a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">Total Products</div>
            <div class="card-body text-center">{{ total_product }}</div>
         </div>
    </div>
</div>

    <div class="card card-body p-2 my-2">
        <form method="GET">
            {{ product_filter.form }}
            <button class="btn btn-success btn-sm" type="submit">Search</button>
            <input class="btn btn-warning btn-sm" type="reset" value="Reset">
        </form>
    </div>

    <p class="h2">All Products</p>
    <div>
        <table class="table table-bordered small">
            <thead class="bg-info">
                <tr>
                    <th>Id</th>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Catagory</th>
                    <th>Tags</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.unit_price }}</td>
                    <td>{{ product.category }}</td>
                    <td>
                        {% for tag in product.Tags.all %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'update_product' product.id %}" class="btn btn-warning btn-sm" href="" >Update</a></td>
                    <td><a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm" href="" >Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}